* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 900px;
    background-color: rgb(234, 124, 124);
    margin: auto;
}

button {
    padding: .3rem .6rem;
    background-color: antiquewhite;
}

section#minefield {
    margin: 50px auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    aspect-ratio: 1;
    background-color: rgb(247, 200, 138);
}

.square {
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.hold {
    background-color: green;
}